html {
    padding: 0;
    margin: 0;
  }
  body {
    padding: 0;
    margin: 0;
    position: relative;
  }
  .container {
    width: 100%;
    position: relative;
    margin: 0 auto;
    text-align: center;
  }
  header {
    position: fixed;
    background: black;
    height: 100vh;
    margin: 0;
    z-index: 2;
    transition: all 0.4s ease-in;
    display: flex;
    left: -250px;
    top: 0;
    width: 250px;
  }
  header.collapse {
    width: 250px;
    left: 0;
  }
  .hamburger-menu{
    position: fixed;
    max-width: 100px;
    z-index: 5;
    right: 0;
    cursor: pointer;
  }
  .hamburger-menu img{
    position: relative;
    max-width: 45px;
    width: auto;
    height: auto;
  }

  .section {
    height: 400px;
    background: grey;
    z-index: 1;
  }
  .close {
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    height: 40px;
    background: red;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    cursor: pointer;
  }